#article {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-margin: 20px 0 0;
}

#article > [id^="section"] {
  scroll-snap-align: start none;
}

.horizontal_align_right .Theme-BackgroundImage picture img {
  object-position: right !important;
}

.horizontal_align_left .Theme-BackgroundImage picture img {
  object-position: left !important;
}
