#article {
  -webkit-overflow-scrolling: touch;
  scroll-padding-top: 1px;
  height: 100vh;
  height: 100svh;
  height: 100dvh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-margin: 20px 0 0;
}

#article > [id^="section"],
#article > .Project-FooterContainer {
  scroll-snap-align: start none;
}
