h1 {
    font-family: "kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    
    
    .custom-min-nav-container .Theme-RelatedStories--Title .related-story-card .related-story-image {
      border-radius: 8px;
    }
    
    
    @media only screen and (max-width: 799px) {
        .glider-contain {
            display: none;
        }
    }
    
    @media only screen and (min-width: 800px) {
        .splide {
            display: none;
        }
    
        .custom-min-nav-container .Theme-RelatedStories--Title .related-story-card {
            position: relative;
        }
    
        .custom-min-nav-container .RelatedStories-container {
            padding: 0 30px !important;
        }
    
        .custom-min-nav-container .Theme-RelatedStoriesSection {
            min-height: 400px;
            background: #ffffff70;
            position: relative;
          bottom: 20px;
         border-left: 0.5px solid #fff;
        border-right: 0.5px solid #fff;
    
        }
    
        .custom-min-nav-container .Theme-RelatedStoriesSection .Theme-Layer-BodyText {
            position: relative;
            top: 8px;
        }
    
        .Theme-RelatedStoriesSection ul {
            display: flex !important;
            flex-direction: row !important;
        }
    
        .Theme-RelatedStoriesSection .glider-contain > ul,
    .custom-min-nav-container .glider-contain > ul {
            display: flex !important;
            justify-content: unset !important;
            flex-wrap: unset !important;
      }
      
      .custom-min-nav-container {
        max-width: 800px;
        width: 95% !important;
      }
      
    
    
    .glider-next {
        right: -19px !important;
        top: 50% !important;
        transform: translateY(-88%);
    }
    
      
     .glider-prev {
       left: -19px !important;
        top: 50% !important;
        transform: translateY(-88%);
      }
      
     
    
    .glider-dots {
       position: relative;
        top: 9px;
    }
    
    
    
    
    }
    
    @media only screen and (min-width: 832px) {
      
      .glider-dots {
       position: relative;
        top: 0;
    }
      .custom-min-nav-container {
        height: 355px !important;
      }
      
      
    }
    
    
    
    
    
    
    @media only screen and (max-width: 619px) {
    .custom-min-nav-container .Theme-Layer-BodyText {
      overflow: visible !important;
      }
      
      .custom-min-nav-container .splide__pagination {
       bottom: -1.5em !important;   
    
    }
    
    
    }
    
    
    .splide__arrows {
      display: none;
    }
    
    .splide__pagination__page.is-active {
     background: #fff !important;
    }
    .splide__pagination__page {
      margin: 3px 9px !important;
      padding: 4px !important;
    }
    
    
    .splide__pagination li {
        width: auto !important;
    }
    
    .splide__pagination {
        bottom: -1.35em  !important;
        left: 0 !important;
        padding: 0 1em !important;
        position: absolute !important;
        right: 0 !important;
        z-index: 1 !important;
    }
    
    .splide__pagination {
        align-items: center !important;
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        margin: 0 !important;
        pointer-events: none !important;
    }
    
    
    .Theme-RelatedStories--Medium .related-stories-list li:not(:only-child) {
    
      max-width: unset !important;
      }
    
    
    
    .related-stories-list li {
        border: unset !important;
    }
    
    
    .custom-min-nav-container .Theme-RelatedStories--Title .related-story-card {
     position: relative; 
    }
    
    .custom-min-nav-container .RelatedStories-container {
       padding: 0 20px !important; 
    }
    
    .custom-min-nav-container .Theme-RelatedStoriesSection {
        min-height: 400px;
        background: #ffffff70;
      position: relative;
    border-left: 0.5px solid #fff;
        border-right: 0.5px solid #fff;
    
        bottom: 20px;
    }
    
    @media only screen and (min-width: 1100px) {
      /* .custom-min-nav-container .Theme-RelatedStoriesSection {
        width: 100vw;
        width: 100svw;
    } */
    }
    
    .custom-min-nav-container .Theme-RelatedStoriesSection .Theme-Layer-BodyText {
      position: relative;
        top: 8px;
    }
    
    
    .Theme-RelatedStoriesSection ul {
      display: flex !important;
      flex-direction: row !important;
    }
    
    .Theme-RelatedStoriesSection .splide__track > ul,
    .custom-min-nav-container .splide__track > ul
    {
          display: flex !important;
        justify-content: unset !important;
        flex-wrap: unset !important;
    }
    
    
    
    
    
    
    
    /* old css below this line */
    
    #StandardFooter {
      display: none;
    }#StandardFooter {
      display: none;
    }h1 {
      font-family: 'Kanit', sans-serif;
    }
    
    
    /* alex's css */
    .Project-HeaderContainer {
      display: none;
    }
    
    .Theme-TitleSection {
      min-height: 100vh !important;
      min-height: 100svh !important;
    }
    
    .hide {
      opacity: 0 !important;
      cursor: unset !important;
    }
    
    .custom-nav-hidden .nav_container {
      transform: translateY(150%);
    }
    
    .show-custom-mini-nav .custom-min-nav-container {
      transform: translate(-50%, 0%);
    }
    
    .show-custom-mini-nav .nav_container {
      transform: translateY(150%) !important;
    }
    
    .show-custom-mini-nav .nav_container {
      transition-delay: 0s;
    }
    
    body:not(.custom-nav-hidden).show-custom-mini-nav .custom-min-nav-container {
      transition-delay: 0.5s;
    }
    
    body:not(.show-custom-mini-nav, .custom-nav-hidden) .nav_container {
      transition-delay: 0.8s;
    }
    
    body:not(.show-custom-mini-nav) .custom-min-nav-container {
      transition-delay: 0s;
    }
    
    .scroll-up .nav_container {
      transition-delay: 0s !important;
    }
    
    .custom-min-nav-container {
      transform: translate(-50%, 100%);
      background: #000000e0;
      height: 344px;
      width: 380px;
      border-radius: 3px;
      position: fixed;
      bottom: 0;
      left: 50%;
      transition: transform 0.8s ease-in-out;
      z-index: 100;
      transition-delay: 0.5s;
    }
    
    .nav_container {
      position: fixed;
      bottom: 7px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 10px;
      box-sizing: border-box;
      z-index: 1000;
      color: white;
      height: 97px;
      transition: transform 0.5s ease-in-out;
    }
    
    .button_container {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      position: relative;
      opacity: 0.8;
      transition: opacity 1s;
      overflow: hidden;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      width: 140px;
    }
    
    @media only screen and (max-width: 500px) {
      .button_container:not(.hide) {
        opacity: 0.9 !important;
      }
    
      .image_div img {
        height: 110px;
        border-radius: 4px;
        filter: brightness(0.8);
      }
    }
    
    .button_container:hover {
      opacity: 1;
    }
    
    .button {
      cursor: pointer;
      pointer-events: none;
      font-family: "Lato", sans-serif;
      z-index: 10;
      padding-top: 20px;
    }
    
    .arrow {
      font-size: 20px;
      pointer-events: none;
      z-index: 10;
    }
    
    .image_div {
      position: absolute;
      bottom: 0;
      max-height: 100px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 1s;
      max-height: 100%;
      pointer-events: none;
    }
    
    .button_container:nth-of-type(1) {
      margin-right: 20px;
    }
    
    .edition-logo {
      height: 100%;
      padding: 4px;
    }
    
    .button_container:nth-of-type(2) {
      background: #000000de;
      border: 1px solid;
      cursor: pointer;
      width: 86px;
      height: 111px;
    }
    
    .button_container:nth-of-type(3) {
      margin-left: 20px;
      border: 1px solid;
    }
    
    .button_container:nth-of-type(1) .image_div {
      left: 0;
      width: 100%;
      border: 1px solid;
    }
    
    .button_container:nth-of-type(3) .image_div {
      right: 0;
      width: 100%;
    }
    
    .image_div img {
      min-height: 110px;
      width: 100%;
      border-radius: 4px;
      filter: brightness(0.7);
    }
    
    .PreviewFooter,
    .Theme-OverlayedCaption {
      display: none;
    }
    
    .custom-min-nav-container-inner {
      overflow-y: scroll;
      height: 342px;
      margin: 10px;
      margin-right: 5px;
      margin-top: 6px;
    }
    
    /* Scrollbar styling for linkContainer */
    .custom-min-nav-container-inner::-webkit-scrollbar {
      width: 5px;
    }
    
    .custom-min-nav-container-inner::-webkit-scrollbar-track {
      background: transparent;
    }
    
    .custom-min-nav-container-inner::-webkit-scrollbar-thumb {
      background: #888888de;
      border-radius: 2.5px;
    }
    
    .custom-min-nav-container-inner::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    
    .inner-logo-container {
        padding: 6px 15px 0;
        border-top: 1px solid #ffffffdf;
        border-left: 0.5px solid #ffffffdf;
        border-radius: 3px 3px 0 0;
        border-right: 0.5px solid #ffffffdf;
    }
    
    .edition-logo-inner {
          height: 22px;
        position: relative;
      bottom: 1px;
      opacity: 0.8;
    }
    
    /* Reset default anchor styling while keeping the cursor pointer */
    .linkAnchor {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
      display: block;
      margin: 0 2px 20px;
      border-radius: 8px;
    }
    
    .linkAnchor:last-of-type {
      margin: 0 2px;
    }
    
    /* Styling for linkAnchor with current-link class */
    .linkAnchor.current-link {
      background-color: #d0d0d0; /* Different background color */
      color: #555; /* Darker text color for contrast */
      font-weight: bold; /* Make the text bolder */
      border-left: 4px solid #666; /* Add a left border for emphasis */
    }
    
    /* Adjusting the linkText and pageNumber inside the current linkAnchor */
    .linkAnchor.current-link .linkText,
    .linkAnchor.current-link .pageNumber {
      color: #555; /* Change text color to match the linkAnchor */
    }
    
    /* Optional: Adjust hover effect for current-link */
    .linkAnchor.current-link:hover {
      background-color: #c8c8c8; /* Slightly different hover background */
    }
    
    .linkAnchor.current-link .linkContainer {
      border-radius: 0 10px 10px 0;
    }
    
    /* Container styling */
    .linkContainer {
      background-color: #f0f0f0; /* Default background color */
      border-radius: 10px; /* Rounded corners */
      padding: 10px; /* Internal spacing */
      transition: background-color 0.3s ease-in-out; /* Smooth background color transition on hover */
    }
    
    /* Styling for linkText */
    .linkText {
      font-size: 1.2em; /* Larger font size */
      color: black; /* Main text color */
      margin-bottom: 5px; /* Space between linkText and pageNumber */
      font-family: "Lato", sans-serif;
    }
    
    /* Styling for pageNumber */
    .pageNumber {
      font-size: 0.8em;
      color: grey; /* Subtle color for pageNumber */
      font-family: "Lato", sans-serif;
    }
    
    /* Hover effect on linkContainer */
    .linkContainer:hover {
      background-color: #e8e8e8; /* Light color on hover */
    }
    
    .linkText,
    .pageNumber {
      text-align: center;
    }
    
    /* Additional visual enhancements */
    @media (max-width: 600px) {
      .linkAnchor {
        border-radius: 8px; /* Slightly smaller border-radius for mobile */
      }
    
      .linkContainer {
        padding: 8px;
        border-radius: 8px; /* Slightly smaller border-radius for mobile */
      }
    
      .linkAnchor.current-link .linkContainer {
        border-radius: 0 8px 8px 0;
      }
    }
    
    /* Optional: adding a subtle shadow to linkContainer for depth */
    .linkContainer {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .custom-min-nav-container .Theme-RelatedStories--Title .related-story-card {
      border-radius: 8px;
      border: 0.5px solid #fff;
    }
    
    .custom-min-nav-container .Theme-RelatedStories--Title .related-story-card .related-story-image img {
      opacity: 0.8
    }
    
    .custom-min-nav-container .Theme-RelatedStories--Title .related-story-text {
      z-index: 10;
      opacity: 0.9;
    }
    
    .custom-min-nav-container .Theme-RelatedStories--Title .related-story-text:hover {
      opacity: 1;
    }
    }}
    
    .related-story-image img
    }
    