@media only screen and (min-width: 900px) {
  .horizontal-scroll {
    position: relative;
  }

  .horizontal-scroll.stack {
    height: auto;
    margin: 0 auto;
  }

  .horizontal-scroll__container {
    position: -webkit-sticky;
    position: sticky !important;
    overflow: hidden;
    top: 0;
  }

  .horizontal-scroll__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .horizontal-scroll__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 899px) {
  .horizontal-scroll {
    height: 0 !important;
  }
}

.horizontal_align_right .Theme-BackgroundImage picture img {
  object-position: right !important;
}

.horizontal_align_left .Theme-BackgroundImage picture img {
  object-position: left !important;
}

.shorthand-embed-body.sticky-nav--active .Theme-NavigationBar {
  top: 44px !important;
}

.live-mode.shorthand-embed-body #section-q6XxPSf6nk {
  top: 99px !important;
}

body:not(.body-editor) .sh-detail.show,
body:not(.body-editor) .sh-extra1.show,
body:not(.body-editor) .sh-extra2.show,
body:not(.body-editor) .sh-extra3.show,
body:not(.body-editor) .sh-extra4.show,
body:not(.body-editor) .sh-extra5.show,
body:not(.body-editor) .sh-extra6.show,
body:not(.body-editor) .sh-extra7.show,
body:not(.body-editor) .sh-extra8.show {
  z-index: 0 !important;
}
