@page {
  margin: 1in;
}

@page :first {
  margin-top: 1.2in;
}

@media print {
  body:not(.body-editor) {
    margin: 0;
  }

  body:not(.body-editor) .Theme-Section {
    background: #fff !important;
    margin: 0 0 0.5rem !important;
  }

  body:not(.body-editor) .Theme-TitleSection {
    margin: 0 0 0.7rem !important;
  }

  body:not(.body-editor) .Theme-TextOverMediaSection {
    margin: 0.6rem 0 !important;
  }

  body:not(.body-editor) p,
  body:not(.body-editor) h5,
  body:not(.body-editor) h4,
  body:not(.body-editor) h3,
  body:not(.body-editor) h2,
  body:not(.body-editor) h1 {
    color: black !important;
    margin: 0 !important;
  }

  body:not(.body-editor) h5,
  body:not(.body-editor) h4,
  body:not(.body-editor) h3,
  body:not(.body-editor) h2,
  body:not(.body-editor) h1 {
    text-decoration: underline;
    text-align: center;
  }

  body:not(.body-editor) h1 {
    font-size: 20px !important;
    margin: 0.7rem 0 !important;
  }

  body:not(.body-editor) h2 {
    font-size: 19px !important;
    margin: 0.6rem 0 !important;
  }

  body:not(.body-editor) h3 {
    font-size: 18px !important;
    margin: 0.5rem 0 !important;
  }

  body:not(.body-editor) h4 {
    font-size: 17px !important;
    margin: 0.5rem 0 !important;
  }

  body:not(.body-editor) h5 {
    font-size: 16px !important;
    margin: 0.3rem 0 !important;
  }

  body:not(.body-editor) p {
    font-size: 12px !important;
    margin: 0.2rem 0 !important;
  }

  body:not(.body-editor) .Theme-Layer-BodyText,
  body:not(.body-editor) .MediaRenderer__textBlocksInner > div,
  body:not(.body-editor) .GridSection-container,
  body:not(.body-editor) .DisplayContainerHeight--flex .Layer--one,
  body:not(.body-editor) .Theme-Byline,
  body:not(.body-editor) .CardCanvas--tworowContainer .CardCanvas__textColumn {
    padding: 0 !important;
  }

  body:not(.body-editor) .Theme-Byline {
    font-style: italic;
  }

  body:not(.body-editor) .Layout,
  body:not(.body-editor) .Layout--equalHeights .Layout__row,
  body:not(.body-editor) .CardCanvas__textColumn,
  body:not(.body-editor) .Layout__col,
  body:not(.body-editor) .Theme-Column,
  body:not(.body-editor) .Theme-TextSection.Theme-Columns--2 .Layout__row,
  body:not(.body-editor) .Layout__col {
    display: block !important;
    height: auto !important;
  }

  body:not(.body-editor) .Theme-Section,
  body:not(.body-editor) .DisplayContainerHeight--minHeight,
  body:not(.body-editor) .MediaRenderer__textBlocksInner,
  .MediaRenderer__textBlocksInner > div {
    min-height: unset !important;
  }

  body:not(.body-editor)
    .Theme-BackgroundScrollmationSection
    .Theme-Layer-BodyText {
    margin: 0 !important;
  }

  body:not(.body-editor) .Theme-Layer-BodyText {
    opacity: 1 !important;
    width: 100% !important;
  }

  body:not(.body-editor) .Theme-Layer-TextBlock-Inner,
  body:not(.body-editor) .Layout {
    max-width: unset !important;
  }

  body:not(.body-editor) .Layout__col {
    max-width: unset !important;
    flex: none !important;
  }

  body:not(.body-editor) .HeaderBarContainer,
  body:not(.body-editor) .CardCanvas__canvasColumn,
  body:not(.body-editor) picture,
  body:not(.body-editor) .Theme-Layer-CardCanvas,
  body:not(.body-editor) .CardCanvas__canvasColumn,
  body:not(.body-editor) canvas,
  body:not(.body-editor) .PreviewFooter,
  body:not(.body-editor) .Theme-Overlay,
  body:not(.body-editor) .Theme-Lazyload-Box {
    display: none !important;
  }
}
