@keyframes panImage1 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes panImage2 {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes panImage1right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes panImage2right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-image,
.image-settings,
.settings-container {
  display: none;
}

@media only screen and (max-width: 619px) {
  .sh-pan-mobile .Theme-Item-Picture,
  .sh-pan-mobile-right .Theme-Item-Picture {
    display: none;
  }

  .image-settings {
    object-fit: contain;
    height: 100vh;
    width: auto;
    display: block !important;
    position: static;
  }

  .settings-container {
    display: flex !important;
  }

  .animate-image {
    object-fit: contain;
    height: 100vh;
    width: auto;
    animation-name: panImage;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
  }

  .animate-image-1 {
    animation-name: panImage1;
  }

  .animate-image-2 {
    animation-name: panImage2;
  }

  .animate-image-1-right {
    animation-name: panImage1right;
  }

  .animate-image-2-right {
    animation-name: panImage2right;
  }
}
